body,html 
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #121B22;
}

.whatsapp-main
{
    font-family: "Roboto",sans-serif;
    width:100%;
    height:100vh;
    box-sizing: border-box;
}

.whatsapp-main > .header 
{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #1F2C34;
    color:white;

}

.header > .top-header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-header > .title 
{
    font-size: 1.125rem;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    padding: 1rem;
}

.top-header > .actions-container
{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.actions-container  > .action-icon 
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:1rem .5rem;
}

.action-icon > img 
{
    width:1.5rem;
    height: 1.5rem;

}

.header > .bottom-header 
{
    display: flex;
    flex-direction: row;
    width:100%;
}




.bottom-header > .header-item 
{
    flex-grow:1;
    flex-shrink: 0;
    padding:1rem;
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:#8A98A3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-header > .header-item.active
{
    border-bottom: 4px solid #05B087;
    display: flex;
    
}

.bottom-header > .header-item.active > .page-title  
{
    color:#05B087;
}

.bottom-header > .header-item.active > .bubble 
{
    background-color: #05B087;
    color:#1F2C34;
}

.bottom-header > .header-item > .page-title 
{
    font-size: 'Roboto',san-serif;
    font-weight: 500;
    color:#8A98A3;
}

.bottom-header > .header-item > .bubble 
{
    width: 1.125rem;
    height:1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8A98A3;
    border-radius: 50%;
    font-size: .5rem;
    margin-left:.25rem;
    color:white;

}

.bottom-header > .header-item > .bubble.sm 
{
    width:.5rem;
    height: .5rem;
}

.bottom-header > .groups-icon-holder 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:0;
    flex-shrink: 1;
}

.groups-icon-holder > .icon.active 
{

}


.groups-icon-holder > .icon.active > svg
{
    fill:#05B087;
}

.groups-icon-holder > .icon 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.groups-icon-holder > .icon > svg
{
    width:1.5rem;
    height: 1.5rem;
    fill:#8A98A3;
}

.page-body
{
    display: flex;
    flex-direction: column;

    width:100%;
}


.page-body > #chat-list
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width:100%;
    
    background-color: #121B22;

}




#chat-list > .chat-list-item 
{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width:100%;
    
}

.hide 
{
    display: none;
}



#chat-list > .chat-list-item.receive .read-receipts
{
    display: none;
}

#chat-list > .chat-list-item.sent .bubble
{
    display: none;
}

#chat-list.hide
{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    display: none;
    
}

.chat-list-item > .avatar-holder
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1rem;
    flex-grow: 0;
    flex-shrink: 1;
    padding-bottom: 0;
    box-sizing: border-box;
}

.avatar-holder > .avatar 
{
    background-image: url("../img/whatsapp/user-avatarjpg.jpg");
    background-size: cover;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #1F2C34;
    background-position: center;

}

.chat-list-item > .info-holder
{
    flex-grow: 1;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:1rem;
    padding-left:0;
    padding-bottom: 0;
    padding-top:1.5rem;
}

.chat-list-item > .info-holder > .top 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.info-holder > .top >.user-name 
{
    flex-grow: 1;
    flex-shrink: 0;
    color: white;
}

.info-holder > .top >.time
{
    flex-grow: 0;
    color:#8A98A3;

    flex-shrink: 1;
    font-size: .75rem;
}

.chat-list-item.receive .info-holder > .top >.time
{
    flex-grow: 0;
    color:#05B087;

    flex-shrink: 1;
    font-size: .75rem;
}

.chat-list-item> .info-holder > .bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 0;
}

.info-holder > .bottom > .msg-content
{
    font-size:.875rem;
    color:#8A98A3;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.info-holder > .bottom > .msg-content.unread
{
    color: #8A98A3;
}

.chat-list-item.receive .info-holder > .bottom > .msg-content.unread
{
    color: #ffffff;
}

#chat-item.sen .info-holder > .bottom > .msg-content.unread
{
    color: #8A98A3;
}

.msg-content > .read-receipts 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg-content > .read-receipts.vanish
{
    display: none;
}

.msg-content > .read-receipts > .icon
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg-content > .read-receipts > .icon > svg
{
    fill:aqua;
    width:1.25rem;
    height: 1.25rem;
}


.msg-content.unread > .read-receipts > .icon > svg
{
    fill:#8A98A3;
    width:1.25rem;
    height: 1.25rem;
}

.info-holder > .bottom > .msg-status
{

}

.bottom > .msg-status > .bubble 
{
    background-color: #05B087;
    width:1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    color:#121B22;
    font-size: .5rem;
    font-weight: 500;
    display: flex;
    font-family: 'Roboto',sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.bottom > .msg-status > .bubble.vanish
{
    display: none;
}

.bottom > .msg-status > .bubble > .count
{
   
    color:#121B22;
    font-size: .65rem;
    font-weight: 500;
}



/* calls container */

.page-body > #calls-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: flex-start;
}

.page-body > #calls-container.hide{

    display: none;
   
}

#calls-container > .create-call-tile 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.create-call-tile > .left 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    flex-shrink: 1;
    flex-grow: 0;

}

.create-call-tile > .left > .icon 
{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #05B087;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.create-call-tile > .left > .icon > img 
{
    width:1.5rem;
    height: 1.5rem;
}

.create-call-tile > .right 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}


.create-call-tile > .right > .title 
{
    color:#ffffff;
    font-size: 1rem;
    padding:.25rem 0;
}

.create-call-tile > .right > .desc 
{
    color:#8A98A3;
    font-size: .875rem;
    padding:0;
}


.recents-list-container 
{
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
}

.recents-list-container  > .h5
{
    font-size: 1rem;
    text-transform: capitalize;
    color:#ffffff; 
    font-family: 'Roboto',sans-serif;
    font-weight:500;
    padding:1rem;  
}

.recents-list-container > .calls-list
{
    width:100%;
    box-sizing: border-box;   
}

.calls-list > .create-call-tile.calls-tile
{

    display: flex;
    flex-direction: row;
    width:100%;
    box-sizing: border-box;
}

.recents-list-container > .calls-list> .create-call-tile > .left > .icon 
{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #05B087;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}


.recents-list-container > .calls-list> .create-call-tile > .left > .icon  > img
{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    
}
.recents-list-container > .calls-list> .create-call-tile > .right >.desc 
{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.recents-list-container > .calls-list> .create-call-tile > .right >.desc>  span{
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recents-list-container > .calls-list> .create-call-tile > .right >.desc>  span > svg.incomming{
    width:1.5rem;
    height: 1.5rem;
    transform: rotate(-45deg);
}

.recents-list-container > .calls-list> .create-call-tile > .right >.desc>  span > svg.missed{
    width:1.5rem;
    height: 1.5rem;
    transform: rotate(-45deg);
    
}

.recents-list-container > .calls-list> .create-call-tile > .right >.desc>  span > svg.outgoing{
    width:1.5rem;
    height: 1.5rem;
    transform: rotate(135deg);
    
}

svg.incomming  path, svg.outgoing  path 
{
    stroke: #05B087;
}

svg.missed  path
{
    stroke:red;
}



.create-call-tile.calls-tile > .right-end 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 1rem;
    
}

.create-call-tile.calls-tile > .right-end > .icon 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.create-call-tile.calls-tile > .right-end > .icon >img 
{
    width:1.5rem;
    height: 1.5rem;
}


















